{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow" style="max-width: 400px; margin: auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h1 class="card-title mb-4">Sign Up</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            {{ form.username | add_class:"form-control" }}
                            {% if form.username.errors %}
                                <div class="text-danger">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_password1" class="form-label">Password</label>
                            {{ form.password1 | add_class:"form-control" }}
                            {% if form.password1.errors %}
                                <div class="text-danger">{{ form.password1.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_password2" class="form-label">Confirm Password</label>
                            {{ form.password2 | add_class:"form-control" }}
                            {% if form.password2.errors %}
                                <div class="text-danger">{{ form.password2.errors }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #007bff; color: #fff; border: none; border-radius: 4px; cursor: pointer; transition: background-color 0.3s;">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
